h1 {
    width: 100%;
    text-align: center;
}

.input-div {
    display: flex;
    width: 100%;
    justify-content: center;
}

.input-box {
    width: 75px;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    margin-bottom: 10px;
}

li button {
    font-size: 8px;
    margin-left: 20px;
    color: #666;
}