.hero {
    color: white;
}

.hero-header {
    text-align: center;
}

.h1 {
    color: white;
}

.hero-text {
    color: white;
}

.choices {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    border-radius: 10em;

}