:root {
    --radius: clamp(0.5rem, 0.478vw + 0.347rem, 1rem);
    --padding: clamp(1.5rem, 3.346vw + 0.429rem, 5rem);
    --primary: #de6897;
    --secondary: hsl(306, 61%, 25%);
    --p: hsl(304, 62%, 95%);
    --h: hsl(306, 61%, 80%);
    --base: #150605;
    --accent: #bc3829;
}

body {
    background-color: var(--base);
}

.hero {
    padding-bottom: 2rem;
}
.hero-header-text {
    color: var(--h);
}

.hero-text {
    color: var(--p);
}

.hero-header {
    text-align: center;
}

.choices {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 2rem;
}

.button-main {
    background-color: var(--secondary);
    color: var(--p);
    border-radius: var(--radius);
    padding-top: calc(var(--padding) / 2);
    padding-bottom: calc(var(--padding) / 2);
    padding-right: calc(var(--padding) / 2);
    padding-left: calc(var(--padding) / 2);
    width: 10rem;
    align-self: center;
    border: none;
}

.button-secondary {
    background-color: var(--accent);
    color: var(--base);
    border-radius: var(--radius);
    padding-top: calc(var(--padding) / 4);
    padding-bottom: calc(var(--padding) / 4);
    padding-right: calc(var(--padding) / 4);
    padding-left: calc(var(--padding) / 4);
    width: 5rem;
    align-self: center;
    font-size: 62.5%;
    border: none;
}

.choices {
    padding-bottom: 2rem;
}

.results {
    display: flex;
    justify-content: center;
}
.results-box {
    color: var(--p);
    display: flex;
    flex: 1;
    gap: 1em;
}

.result {
    flex: 1;
    font-size: 1em;
    justify-content: center;
    align-content: center;
    border-radius: var(--radius);
    background-color: var(--secondary);
    padding-top: calc(var(--padding) / 4);
    padding-bottom: calc(var(--padding) / 4);
    padding-left: calc(var(--padding) / 2);
    padding-right: calc(var(--padding) / 2);
}