.project-grid {
    display: flex;
    justify-content: center;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem;
}

img {
    width: 20rem;
}

.grid-item {
    display: flex;
    width: 40rem;
    background-color: aliceblue;
}

.grid-item:hover {
    background-color: antiquewhite;
}
.grid-description {
    display: flex;
    align-items: center;
}

.grid-item:nth-child(even) > .grid-description {
    order: -1; 
}