body {
    background-color: hsl(261, 23%, 17%);
}

.hero-header {
    text-align: center;
    color: white;
}

.project-grid {
    display: flex;
    justify-content: center;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem;
}

img {
    width: 20rem;
}

.grid-item {
    display: flex;
    width: 40rem;
}

.grid-item:hover {
    background-color: rgb(28, 0, 18);
}

.grid-description {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.grid-item:nth-child(even) > .grid-description {
    order: -1;
}

.description-p {
    width: 80%;
}

.grid-image {
    display: flex;
    align-items: center;
    justify-content: center;
}