* {
    padding: 0;
    margin: 0;
}

:root {
    font-size: 62.5%;
    --h1: clamp(4rem, 1.912vw + 3.388rem, 6rem);
    --h2: clamp(4rem, 3.824vw + 2.776rem, 8rem);
    --h3: clamp(2rem, 0.956vw + 1.694rem, 3rem);
    --h4: clamp(2.3rem, 2.199vw + 1.596rem, 4.6rem);
    --h5: clamp(2rem, 2.199vw + 1.296rem, 4.3rem);
    --h6: clamp(1.9rem, 1.53vw + 1.411rem, 3.5rem);
    --p: clamp(1rem, 0.956vw + 0.694rem, 2rem);
    --spacing-m: clamp(1rem, 0.956vw + 0.694rem, 2rem);
;
}

::selection {
    background-color: var(--accent);
    color: white;
}
/* colors from realtimecolours.com -- awesome website! */
:root[data-theme="light"] {
    --text: hsl(0, 0%, 0%);
    --background: hsl(268, 91%, 91%);
    --primary: hsl(298, 63%, 65%);
    --accent: hsl(328, 100%, 50%);
    --secondary: hsl(328, 100%, 33%);
    --outline: black;
    --descr-background: rgba(255, 255, 255, 0.7);
    }
    :root[data-theme="dark"] {
    --text: hsl(0, 0%, 100%);
    --background: hsl(269, 64%, 9%);
    --primary: hsl(298, 63%, 35%);
    --accent: hsl(328, 100%, 50%);
    --secondary: hsl(328, 100%, 67%);
    --outline: rgb(67, 0, 47);
    --descr-background: rgba(0, 0, 0, 0.7);
}

.header-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: var(--background);
    object-fit: contain;
}

.header-left {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    gap: 1.5rem;
}

.header-left svg {
    height: var(--p);
    width: var(--p);
    fill: var(--accent);
}

.header-right {
    display: flex;
    padding: 3rem;
}

.navigation {
    display: flex;
    gap: var(--spacing-m);
}

.nav-btn {
    background-color: var(--secondary);
    padding-inline: 1em;
    padding-block: 0.5em;
    border-radius: 0.7em;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 5px var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-btn a {
    font-size: var(--p);
    text-align: center;
}

@media (max-width: 450px) {
    .navigation {
        display: flex;
        flex-direction: column;
    }
    .header-left {
        align-items: start;
    }
    .header-left svg {
        height: 2.5rem;
        width: 2.5rem;
    }
}

main {
    min-height: 100vh;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    padding-bottom: var(--spacing-m);
    width: 80vw;
}

.movie-rows-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: calc(var(--spacing-m) * 2.5);
}

@media (max-width: 450px) {
    .movie-card {
        flex-direction: row !important;
    }
    .movie-title p {
        display: inline;
        writing-mode: vertical-rl;
        text-orientation: sideways;
    }
}

.movie-row {
    width: 80vw;
    display: flex;
    gap: var(--spacing-m);
    overflow-x: scroll;
    background-color: var(--primary);
    padding: calc(var(--spacing-m) * 1.5);
    border-radius: 3rem;
    box-shadow: 0 0 5px var(--accent);
    height: clamp(15rem, 14.34vw + 10.411rem, 30rem);
}

.movie-card {
    border-radius: 2rem;
    background-color: var(--secondary);
    padding: var(--spacing-m);
    box-shadow: 0 0 5px black;
    position: relative;
    min-width: 13rem;
    max-width: 20rem;
    max-height: 50rem;
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing-m) / 2);
}

.movie-card:hover {
    transition: 0.02s;
    transform: scale(1.04);
    box-shadow: 0 0 20px black;
}

.movie-img {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.movie-card:hover .movie-description {
    background-color: var(--descr-background);
    display: block;
}

.movie-img img {
    border-radius: 1rem;
    max-width: 100%;
    max-height: 100%;
}

.movie-title {
    display: flex;
    justify-content: center;
}

.movie-title p {
    text-align: center;
}

.movie-description {
    position: absolute;
    padding-block: var(--spacing-m);
    padding-inline: calc(var(--spacing-m) / 4);
    display: none;
    top: 0;
    left: 0;
    height: 100%;
    max-width: 100%;
    overflow-y: scroll;
    border-radius: 1rem;
}
.movie-description p { 
    font-size: calc(var(--p) / 1.3);
}

h1 { font-size: var(--h1); color: var(--text); }
h2 { font-size: var(--h2); color: var(--text); }
h3 { font-size: var(--h3); color: var(--text); }
h4 { font-size: var(--h4); color: var(--text); }
h5 { font-size: var(--h5); color: var(--text); }
h6 { font-size: var(--h6); color: var(--text); }
p { font-size: var(--p); color: var(--text); }
a { font-size: var(--p); text-decoration: none; color: var(--text); }
li { font-size: var(--p); color: var(--text); }