* {
    padding: 0;
    margin: 0;
}

:root {
    font-size: 62.5%;
    --h1: clamp(5rem, 4.78vw + 3.47rem, 10rem);
    --h2: clamp(4rem, 3.824vw + 2.776rem, 8rem);
    --h3: clamp(3rem, 2.868vw + 2.082rem, 6rem);
    --h4: clamp(2.3rem, 2.199vw + 1.596rem, 4.6rem);
    --h5: clamp(2rem, 2.199vw + 1.296rem, 4.3rem);
    --h6: clamp(1.9rem, 1.53vw + 1.411rem, 3.5rem);
    --p: clamp(1.7rem, 1.53vw + 1.211rem, 3.3rem);
}

::selection {
    background-color: var(--accent);
    color: white;
}
/* colors from realtimecolours.com -- awesome website! */
:root[data-theme="light"] {
  --text: hsl(0, 0%, 0%);
  --background: hsl(268, 91%, 91%);
  --primary: hsl(298, 63%, 65%);
  --accent: hsl(328, 100%, 50%);
  --secondary: hsl(328, 100%, 33%);
  --outline: black;
}
:root[data-theme="dark"] {
  --text: hsl(0, 0%, 100%);
  --background: hsl(269, 64%, 9%);
  --primary: hsl(298, 63%, 35%);
  --accent: hsl(328, 100%, 50%);
  --secondary: hsl(328, 100%, 67%);
  --outline: rgb(67, 0, 47);
}

body {
    padding: 0.5rem;
    background-color: var(--outline);
}

.header-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: var(--background);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    object-fit: contain;
}

.header-left {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    gap: 1.5rem;
}

.header-left svg {
    height: var(--p);
    width: var(--p);
    fill: var(--accent);
}

.header-right {
    display: flex;
    padding: 3rem;
}

.navigation {
    display: flex;
    gap: 2rem;
}

.nav-btn {
    background-color: var(--secondary);
    padding-inline: 2rem;
    padding-block: 1rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 5px var(--secondary);
}

.nav-btn a {
    font-size: 2rem;
}

main {
    min-height: 100vh;
    background-color: var(--background);
}

h1 {
    text-align: center;
    border: 2px solid red;
}

.movie-rows-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.movie-row {
    width: 80vw;
    border: 2px solid red;
    display: flex;
    gap: 2rem;
    overflow-x: scroll;
}

h1 { font-size: var(--h1); color: var(--text); }
h2 { font-size: var(--h2); color: var(--text); }
h3 { font-size: var(--h3); color: var(--text); }
h4 { font-size: var(--h4); color: var(--text); }
h5 { font-size: var(--h5); color: var(--text); }
h6 { font-size: var(--h6); color: var(--text); }
p { font-size: var(--p); color: var(--text); }
a { font-size: var(--p); text-decoration: none; color: var(--text); }
li { font-size: var(--p); color: var(--text); }